@font-face {
  font-family: "Neue";
  src: url(./assets/fonts/NeueMachina-Regular.otf);
}

@font-face {
  font-family: "Neue-bold";
  src: url(./assets/fonts/NeueMachina-Ultrabold.otf);
}

:root {
  --primary-color: #79d7be;
  --secondary-color: #2e5077;
  --container-padding: 2vw 4vw;
  --neue: "Neue";
  --neue-bold: "Neue-bold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--neue);
}
